.body__container{
    display: flex;
    flex-direction: column;
    width: 100%;

    .fa-arrow-left{
        position: absolute;
        width: 18px;
        margin: 24px 24px 23px 23px;
    }

    .main-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .background{
        height: 100%;
    }

    .menu{
        display: flex;
        position: relative;
        top: -40px;
        border-radius: 40px 40px 0 0;

        .title__restau{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            align-content: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 20px;
            gap: 30px;
        }

        .title{
            display: flex;
        font-family: Shrikhand;; 
        font-style: italic;
        font-weight: 400;
        
    }

    .hearts{
        margin-bottom: 5px;
    }

    .entries{
        display: flex;
        flex-direction: column;
    }
    hr{
        width: 40px;
        height: 3px;
        background-color: #99E2D0;
        margin-left: 13px;
        border-color: #99E2D0;

    }
    .plate{
        font-size: 16px;
        font-weight: 300;
        font-family: roboto;
        margin-left: 13px;
        padding-bottom: 12px ;
    }
    .cards{
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 15px;
        margin: 13px;
    }
    .cards__content{
        display: flex;
        padding: 13px 0;
        background: #fff;
        margin-bottom: -25px;
    }

    .menu__entries{
        display: flex;
        font-size: 18px;
        font-family: roboto;
        font-weight: 500;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .accompaniement{
        font-size: 15px;
        font-family:roboto;
        font-weight: 300;
        margin-left: 15px;
    }
    .menu__price{
        position: absolute;
        margin-left: 248px;
        top: 34px;
        font-weight: 900;
        border: 1px solid;
        padding: 5px;
        border-radius: 10px;
    }

    .validation{
        display: flex;
        flex-direction: row;
        border:1px solid #99E2D0;
        background-color: #99E2D0;
        margin-left: 70px;
        align-items: center;
    }
        }
}



