$xsBreakpoint : 576px ;
$smBreakpoint : 768px ;
$mdBreakpoint : 1024px ;
$lgBreakpoint : 1290px ;
$xlPoint_stop : 1440px ;

@media screen and (min-width: 768px) {
    .cards_content {
        width: 45%;
    }

    .running {
        min-width: 768px;
        width: 80%;
        margin: auto;
        padding: 0 50px;
    }

    .menu__restau {
    padding: 0 50px;
    width: 70%;
    margin-left: 100px;
    }
}


@media screen and (min-width: 1024px) {
    .running {
        min-width: 1024px;
        width: 100%;
        margin: auto;
        .content__running {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .list__running{
                width: 30%;
                font-size: 1em;
            }
        }
    }
    .restaurants__title{
        margin-left: 52px;
    }
    .title__menu {
        min-width: 1024px;
        margin: auto;
        margin-top: 25px;
    }

    .cards__news{
        display: none;
    }

    .title{
        text-align: center;
    }

    .container_cards{
       // min-width: 1024px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        //margin-left: 30px;
        padding: 0 50px;
    }
    .body__container .main-container .menu__restau .title__restau{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        align-content: center;
        justify-content: center;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 25px;
        gap: 30px;
    }
    
    .menu__restau {
        padding: 0 50px;
        margin: auto;
       // width: 100%;
        }

        .container-footer {
            display: flex;
            flex-direction: row-reverse;
            padding-right: 50px;
            gap: 30px;
        }
        }


    