.body__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    .main-container{
        display: flex;
        flex-direction: column;

        .background_menu{
            width: 100%;
            height: 275px;
            object-fit: cover;
        }

        .menu__restau{
            display: flex;
            position: relative;
            border-radius: 40px 40px 0 0;
            flex-direction: column;
            background-color: $grey1;
            margin-top: -40px;
           // width: 80%;

            .title__restau{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                align-content: center;
                justify-content: flex-start;
                margin-left: 20px;
                margin-top:30px;
                margin-bottom: 25px;
                gap: 30px;
            }

            .title {
                display: flex;
                font-family: Shrikhand;; 
                font-style: italic;
                font-weight: 400;
            }

            .hearts{
                margin-bottom: 5px;
            }

            .entries{
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
            }
            hr{
                width: 40px;
                height: 3px;
                background-color: $tertiaire;
                margin-left: 13px;
                border-color: $tertiaire;

            }
            .plate{
                font-size: 16px;
                font-weight: 300;
                font-family: roboto;
                margin-left: 13px;
                padding-bottom: 12px ;
            }
            .cards__restaurants{
                display: flex;
                flex-direction: row;
                position: relative;
                border-radius: 15px;
                margin: 13px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                cursor: pointer;
            }
            .cards__content{
                display: flex;
                padding: 13px 0;
                background:$white;
                width: 100%;
                cursor: pointer;
            }

            .animation_1{
                animation:appear 1s;
            }
            .animation_2{
                animation: appear 3s;
            }

            .animation_3{
                animation: appear 5s;
            }
            .choice{
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $tertiaire;
                border-radius: 0px 13px 13px 0px;
                opacity: 0;
                ;
            }
            }
            .menu_cards{
                margin-left: 20px;
                width: 100%;
            }
            .flat{
                margin-bottom: 5px;
            }
            .menu_flavor_price{
                display: flex;
                justify-content: space-between;
            }
            .price_menu{
                margin-right: 20px;
            }
            .fa-check{
                width: 20px;
                height: 20px;
                background-color: $white;
                border-radius: 50%;
                padding: 2px 2px;
                color: $tertiaire;
            }
        }
        .container-button{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

